<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/abc/style.css">
</head>
<body>
    <h1>HELLO WORD <%= name %></h1>
    <% if(age > 18) {%>
        <p>You are an adult</p>
    <% }else{%>
        <p> You are a minor</p>
    <%} %>
</body>
</html>